/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}


/* Veranderen:
- Bronnen benoemen
- Een alinea over de auteur
- voorbeelden erin verwerken */


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-text:#151515;
    --color-text-light:#eee;
    --color-background-dark: #151515;
	--color-background:#eee;
    --color-background-hero: rgba(0, 0, 0, 0.5); 
    --color-secondair: #a3937f;
}




/**********************/
/*  ALGEMENE STYLING  */
/**********************/
body{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times;
    font-size: 1em;
    /* background-color: #E6D5BF; */
}

/* Gekozen voor Georgia als bodytekst, omdat het scherpe, goed gedefinieerde serifs heeft die goed contrasteren met de vormen van Lithos Pro. 
    Times New Roman als fallback font past daar ook goed bij, mocht Georgia niet werken */
/* Arvo gekozen als fallback font voor lithos pro, omdat het een een modern schreefloos (sans-serif) lettertype is met een strakke en rechthoekige vormgeving. */



/* Voor de hero  */
header {
    position: relative;
    background-image: url('../images/achtergrond_image.jpg'); 
    background-size: cover;
    background-position: center;
    height: 90vh;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-repeat: no-repeat;
    background-attachment: fixed;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-background-hero);
    background-attachment: scroll;
}

h1{
    z-index: 1;
    font-size: 7.5vw;
    margin: 1em;
    font-family: "lithos-pro", 'Arvo', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--color-text-light);
}

.typewriter{
    overflow: hidden;
    border-right: .1em solid var(--color-secondair); 
    white-space: nowrap; 
    margin: 0 auto; 
  }
  




/***************/
/* Main styles */
/***************/
 /* article - inleiding  */
 article:nth-of-type(1){
    font-family: "lithos-pro", 'Arvo', sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    padding: 3em 1em 2em 1em; 
}

article:nth-of-type(1) div{
    max-width: 50em;
}



/* De grote a in de eerste sectie  */
h2{
    font-family: "lithos-pro", 'Arvo', sans-serif;
    font-weight: 700;
    font-style: normal;

    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 100%;
    font-size: 20em;
    margin: 0;
    padding: 0;
}



/* Titel van de eerste sectie  */
h3{
    font-family: "lithos-pro", 'Arvo', sans-serif;
    font-weight: 700;
    font-style: normal;

    font-size: 1.5em;
    margin: 0;
    padding: 0;
}



/* eerste sectie  */
section:nth-of-type(1){
    display: flex;
    flex-direction: column;
    padding: 0 1em 2em 1em; 
}



/* tweede sectie  */
.fox{
    font-size: min(3.4vw, 20em);
}

/* Ruimte om het woord jumps */
span:nth-of-type(1){
    margin-left: 1vw;
}

span:nth-of-type(5){
    margin-right: 1vw;
}

 /******************/
/* animatie jumps */
/******************/
section.jump div h2.fox span{
    animation-name:tripleJump-animation;
    animation-iteration-count:infinite;
}

section.jump div h2.fox span:nth-of-type(1) {
    animation-delay:0s;
    animation-duration:1.5s;
}

section.jump div h2.fox span:nth-of-type(2) {
    animation-delay:.33s;
    animation-duration:1.43s;
}

section.jump div h2.fox span:nth-of-type(3) {
    animation-delay:.67s;
    animation-duration:1.57s;
}

section.jump div h2.fox span:nth-of-type(4) {
    animation-delay: 1s;
    animation-duration: 1.43s;
}

section.jump div h2.fox span:nth-of-type(5) {
    animation-delay: 1.33s;
    animation-duration:1.07s;
}



/* derde sectie  */
section:nth-of-type(3){
    display: flex;
    flex-direction: column;
    margin: 2.5em 1em 2em 1em;
}

section:nth-of-type(3) img{
    width: 100%;
}



/* vierde sectie  */
section:nth-of-type(4){
    display: flex;
    justify-content: center;
    padding: 0 1em 2em 1em; 
}

section:nth-of-type(4) div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4{
    font-family: "lithos-pro", 'Arvo', sans-serif; 
    font-style: normal;
    line-height: 0%;
}

/* 5 zelf typen zinnetjes vierde sectie  */
h4:nth-of-type(1){
    font-weight: 900;
    font-size: 6.5vw; 
    margin: 1.2em 0 .8em 0;
}

h4:nth-of-type(2){
    font-weight: 700;
    font-size: 6.5vw;
    margin: .8em 0 .8em 0;
}

h4:nth-of-type(3){
    font-weight: 400;
    font-size: 6.5vw;
    margin: .8em 0 .8em 0;
}

h4:nth-of-type(4){
    font-weight: 300;
    font-size: 6.5vw;
    margin: .8em 0 .8em 0;
}

h4:nth-of-type(5){
    font-weight: 200;
    font-size: 6.5vw;
    margin: .8em 0 0 0;
}




/* vijfde sectie  */
section:nth-of-type(5){
    display: flex;
    justify-content: center;
    margin: 1em;

}

section:nth-of-type(5) p{
    max-width: 53em;
}




/* EXTRA STUKJE OVER ONTWERPSTER */

article:nth-of-type(2){
    display: flex;
    flex-direction: column;
    padding: 0 1em 2em 1em; 
}


article:nth-of-type(2) img{
    width: 100%;
}





/* zesde sectie  */
section:nth-of-type(6){
    margin: 0;
    display: flex;
    justify-content: center;
}

h5{
    display: flex;
    justify-content: center;
    font-family: "lithos-pro", 'Arvo', sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 0%;
}



/* zesde sectie met alfabet */
h5:nth-of-type(1){
    font-size: 4.8vw;
}

h5:nth-of-type(2){
    font-size: 4.8vw;
}

h5:nth-of-type(3){
    font-size: 4.8vw;
}

h5:nth-of-type(4){
    font-size: 4.8vw;
}



/* zevende sectie  */
section:nth-of-type(7){
    display: flex;
    justify-content: center;
    margin: 1em;
}

section:nth-of-type(7) p{
    max-width: 53em;
}


/* VOOR DE VOORBEELDEN  */
main>div:nth-of-type(1),
main>div:nth-of-type(2) {
    display: flex;
    justify-content: center;
    width: 100%;
}

main>div:nth-of-type(1) h3{
    font-size: 1.5em;
    margin-bottom: .3em;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8em, 1fr));
    gap: 1em;
    max-width: 53em;
    margin: 0 auto;
    padding: 1em;
}

.image-item {
    background: #fff;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image-grid img{
    max-width: 100%;
}

.image-grid h2 {
    font-size: .9em;
    line-height: 120%;
    margin: 10px 0;
    font-family: Georgia, 'Times New Roman', Times;
    font-weight: 200;
}




/* NEGENDE sectie  */
section:nth-of-type(9){
    display: flex;
    flex-direction: column;
    margin: 4em 1em 7em 1em;
}

section:nth-of-type(9) div img{
    width: 60%;
}



/*****************/
/* Footer styles */
/*****************/
footer {
    text-align: center;
    background-color: var(--color-background-dark); 
    color: var(--color-text-light); 
    padding: .6em 0;
}

.footer{
    display: flex;
    padding: 0;
    align-items: flex-start;
    justify-content: center;
}

footer section p{
    padding-right: 3em;
    margin-top: -.5em;
    font-size: .9em;
    font-weight: bold;
}

footer ul{
    flex-direction: column;
    flex-wrap: nowrap;
    margin: -1em;
}

footer ul li{
    margin: .5em 0 0 1em;
    list-style-type: none;
    text-align: left;
}

/* bron hover: https://freefrontend.com/css-link-styles/  effect 7 */
footer li a{
    color: var(--color-background);
    position: relative;
    text-decoration: none;
    padding-bottom: 3px;
}

footer li a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2.5px;
  border-radius: 4px;
  background-color: #ffffff;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

footer li a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}




/****************/
/*   Animatie   */
/****************/
/* Animatie alleen afspelen bij geen voorkeur  */
@media (prefers-reduced-motion: no-preference){
    @keyframes tripleJump-animation {
        0% {
        transform:translatey(0);
        animation-timing-function:cubic-bezier(0.165, 0.840, 0.440, 1.000);
        }
        50% {
        transform:translatey(-1.5em);
        animation-timing-function:cubic-bezier(0.895, 0.030, 0.685, 0.220);
        }
        100% {
        transform:translatey(0);
        }
    }
}





/****************/
/*  Responsive  */
/****************/
@media (min-width: 45em){
    header {
        height: 100vh;
    }

    /* inleidend stukje tekst  */
    article:nth-of-type(1){
        font-family: "lithos-pro", 'Arvo', sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    /* Grote a in de eerste sectie  */
    h2{
        font-size: min(30vw, 20em);
    }

    /* eerste sectie  */
    section:nth-of-type(1){
        display: flex;
        justify-content: center;
        margin: 2em 1em 1em 1em;
        flex-direction: row;
    }

    section:nth-of-type(1) div:nth-of-type(2){
        margin-left: 2em;
    }



    /* tweede sectie  */
    section:nth-of-type(2){
        padding-top: 2em;
    }

    section div:nth-of-type(2){
        max-width: 34em;
        margin: 0;
    }
   
    .fox{
        font-size: 3.7vw;
    }
    


    /* derde sectie  */
    section:nth-of-type(3){
        display: flex;
        justify-content: center;
        margin: 7em 1em 4em 1em;
        flex-direction: row;
    }

    section:nth-of-type(3) div:nth-of-type(1){
        max-width: 27.5em;
    }

    section:nth-of-type(3) img{
        max-width: 25em;
        margin-left: 1em;
    }



    /* vierde sectie 5 eigen tekst zinnetjes  */
    h4:nth-of-type(1){
        font-size: 4.4vw;
    }

    h4:nth-of-type(2){
        font-size: 4.4vw;
    }

    h4:nth-of-type(3){
        font-size: 4.4vw;
    }

    h4:nth-of-type(4){
        font-size: 4.4vw;
    }

    h4:nth-of-type(5){
        font-size: 4.4vw;
    }



    /* vijfde sectie  */
    section:nth-of-type(5){
        margin: 2em 1em 4em 1em;
    }




    /* EXTRA STUKJE OVER ONTWERPSTER  */
     article:nth-of-type(2){
        display: flex;
        justify-content: center;
        margin: 7em 1em 3em 1em;
        flex-direction: row;
    }

    article:nth-of-type(2) div:nth-of-type(2){
        max-width: 27.5em;
    }

    article:nth-of-type(2) img{
        max-width: 24em;
        margin-right: 1.5em;
    }




    /* zesde sectie met alfabet, allemaal los van elkaar. Mocht er 1 groter of kleiner moeten worden. */
    h5:nth-of-type(1){
        font-size: 3vw;
    }

    h5:nth-of-type(2){
        font-size: 3vw;
    }

    h5:nth-of-type(3){
        font-size: 3vw;
    }

    h5:nth-of-type(4){
        font-size: 3vw;
    }


    /* zevende sectie  */
     section:nth-of-type(7){
        margin: 0 1em 6em 1em;
    }


    /* Grote T in de achtste sectie  */
    section:nth-of-type(8) div h2{
        font-size: min(30vw, 8em);
        margin-top: .3em;
    }

    /* achtste sectie  */
    section:nth-of-type(8){
        display: flex;
        justify-content: center;
        margin: 1em 1em 6em 1em;
        flex-direction: row;
    }

    section:nth-of-type(8) div:nth-of-type(2){
        margin-left: 2em;
    }


    /* VOORBEELDEN  */
    .image-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(13em, 1fr));
        gap: 1em;
        max-width: 53em;
        margin: 0 auto;
        padding: 1em;
        margin-bottom: 8em;
    }
    
    .image-item {
        background: #fff;
        text-align: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    .image-grid img{
        max-width: 100%;
    }
    
    .image-grid h2 {
        font-size: 1.2em;
        line-height: 120%;
        margin: 10px 0;
        font-family: Georgia, 'Times New Roman', Times;
        font-weight: 200;
    }

    main>div:nth-of-type(1) h3{
        font-size: 2em;
        margin-bottom: .5em;
    }



    /* negende sectie  */
    section:nth-of-type(9){
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    section:nth-of-type(9) div:nth-of-type(1){
        max-width: 31em;
        margin-right: 1em;
    }

    section:nth-of-type(9) div img{
        width: 35vw;
        max-width: 20em;
        margin-left: 1em;
    }
}




/* Verschillende varianten van het font  */
/****************/
/* LITHOS FONT  */
/****************/

/* Lithos Pro Light
font-family: "lithos-pro", sans-serif;
font-weight: 300;
font-style: normal;

Lithos Pro Regular
font-family: "lithos-pro", sans-serif;
font-weight: 400;
font-style: normal;

Lithos Pro Bold
font-family: "lithos-pro", sans-serif;
font-weight: 700;
font-style: normal;

Lithos Pro Black
font-family: "lithos-pro", sans-serif;
font-weight: 900;
font-style: normal; */